<h3>
    <a [title]="product.name + ' details'" href="{{product.kaspi}}">
        {{ product.name }}
    </a>
</h3>

<p *ngIf="product.description">
Description: {{ product.description }}
</p>

<p *ngIf="product.rating">
Rating: {{ product.rating }}
</p>

<img width="200" src="{{product.image}}" alt="{{product.name}}">

<br>

<button type="button" (click)="share(product.kaspi)">
Share
</button>

<button type="button" (click)="like()">
    {{product.likes}} Like
</button>

<button type="button" class="button-danger" (click)="remove()">
    Remove
</button>